<ol>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ol>


<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :pages %>
  <%= f.number_field :pages %><br><br>

  <%= f.submit %>
<% end %>
